<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="_14.ProjectBankSimulation.Properties.Settings._14_ProjeDbBankaTestConnectionString"
            connectionString="Data Source=DESKTOP-1DQCP20\SQLEXPRESS;Initial Catalog=14.ProjeDbBankaTest;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>